{% props placeholder = "", name = "", value = "", errors, isValid = true %}

<div class="relative flex flex-col items-end gap-[5px]">
    <input
        class="
            w-full
            {{ isValid and value != "" ? "border-primary" : ""}}
            {{ isValid == false ? "error-field" : "text-field"}}
        "
        value="{{ value|lower }}"
        name="{{ name|lower }}"
        placeholder="{{ placeholder }}"
        autocomplete="off"
    />
    {% if isValid == false %}
        {% for error in errors %}
            <span class="error-message">{{ error }}</span>
        {% endfor %}
        <div class="absolute right-0 top-0">
            <twig:BaseIconWarning />
        </div>
    {% endif %}
</div>
