<ul class="flex flex-wrap gap-10 sm:grid sm:grid-cols-2 sm:gap-0 sm:gap-y-[60px] sm:gap-x-[16px] sm:justify-items-center">
    {% for project in this.projects %}
	    <li>
		    <twig:BaseCardProject
				name="{{ project.name }}"
				thumbnail="{{ project.thumbnail }}"
				skills="{{ project.skills }}"
				codeLink="{{ project.codeLink }}"
				projectLink="{{ project.projectLink }}"
			/>
	    </li>
    {% endfor %}
</ul>
